<?php
return array(
    // openid providers
    "OpenID" => array(
        "enabled" => true,
    ),
    "Yahoo" => array(
        "enabled" => true,
        "keys" => array("id" => "", "secret" => ""),
    ),
    "AOL" => array(
        "enabled" => true,
    ),
    "Google" => array(
        "enabled" => true,
        "keys" => array("id" => "", "secret" => ""),
    ),
    "Facebook" => array(
        "enabled" => true,
        "keys" => array("id" => "", "secret" => ""),
        "trustForwarded" => false,
    ),
    "Twitter" => array(
        "enabled" => true,
        "keys" => array("key" => "", "secret" => ""),
        "includeEmail" => false,
    ),
    // windows live
    "Live" => array(
        "enabled" => true,
        "keys" => array("id" => "", "secret" => ""),
    ),
    "LinkedIn" => array(
        "enabled" => true,
        "keys" => array("id" => "", "secret" => ""),
        "fields" => array(),
    ),
    "Foursquare" => array(
        "enabled" => true,
        "keys" => array("id" => "", "secret" => ""),
    ),
);
